python-javabridge/
3D-Print/

# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.png
*.jpg
*.jpeg
*.log
*.tmp
.ipynb_checkpoints/
.pytest_cache/

particle_thresholds.json
hist_partikel_template_um.txt
*.csv
*.xml
*.pkl
*.pkl
*.tif
analysis_results/bildinventur/node_modules/bmp-js/test/bit1.bmp
analysis_results/bildinventur/node_modules/bmp-js/test/bit16_565_out.bmp
/analysis_results/bildinventur
*.png
*.csv
*.html
*.html
*.zip
