python-javabridge/
3D-Print/

# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.png
*.jpg
*.jpeg
*.log
*.tmp
.ipynb_checkpoints/
.pytest_cache/

particle_thresholds.json
hist_partikel_template_um.txt
